In [2]:
!pip install selenium

Collecting selenium
  Downloading selenium-3.141.0-py2.py3-none-any.whl (904 kB)
Requirement already satisfied: urllib3 in c:\users\kunal\anaconda3\lib\site-packages (from selenium) (1.26.4)
Installing collected packages: selenium
Successfully installed selenium-3.141.0
Collecting selenium
  Using cached selenium-3.141.0-py2.py3-none-any.whl (904 kB)
Requirement already satisfied: urllib3 in c:\users\kunal\anaconda3\lib\site-packages (from selenium) (1.26.4)
Installing collected packages: selenium
Successfully installed selenium-3.141.0

Importing Important Libraries for Web Scraping

In [2]:
import selenium
import pandas as pd
from selenium import webdriver

Defining Web Driver

In [18]:
driver = webdriver.Chrome(r"C:\Users\KUNAL\Downloads\chromedriver_win32\chromedriver.exe")

# 1.Python program to scrape data for “Data Analyst” Job position in  “Bangalore” location

Webpage used for Web Scraping

In [19]:
driver.get('https://www.naukri.com/')

Finding Element for Job Search Bar

In [20]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Analyst")
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Banglore")

In [22]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

Specifying the URL of the Webpage to be Scraped

In [24]:
url = "https://www.naukri.com/data-analyst-jobs-in-banglore?k=data%20analyst&l=banglore"

Opening Webpage through Web Driver

In [26]:
driver.get(url)

Creating the 4 empty list in which data will be stored while scraping.
The 4 empty list created for 4 features which is to be extracted.

1.Job_title  2.Job_location  3.Company_name  4.Experience_required

In [27]:
Job_title=[]
Job_location=[]
Company_name=[]
Experience_required=[]

Extracting all the tags Having the Job Title

In [28]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="2a612aa0a72823eddcda3a653616941d", element="2025aadb-f8d6-453a-be18-3503b1ac35ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a612aa0a72823eddcda3a653616941d", element="5fd408e6-6505-464f-a1fe-9f25f04444ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a612aa0a72823eddcda3a653616941d", element="8919a5e7-7d6e-4b5f-a039-30f740064191")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a612aa0a72823eddcda3a653616941d", element="0ef4430b-fb48-420d-a030-03e1cfb5b5e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a612aa0a72823eddcda3a653616941d", element="558e882d-54a1-4c1d-8f95-1e506345fbc9")>]

Now running a loop to extract the text from the extracted tags

In [30]:
for i in titles_tags:
    Title=i.text
    Job_title.append(Title)
Job_title[0:5]

['Openings For Data Analyst',
 'Data Analyst',
 'Business Cum Data Analyst',
 'Urgent Openings For Data Analysts.',
 'Situs AMC Is Hiring For Senior Data Analyst']

Extracting all the tags Having the Job Location

In [31]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
locations_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="2a612aa0a72823eddcda3a653616941d", element="5d975fe4-a402-49aa-9fc2-2d865460dc82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a612aa0a72823eddcda3a653616941d", element="af96868c-4feb-472f-b717-e5d0927401cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a612aa0a72823eddcda3a653616941d", element="22acd70e-84cb-4211-8ac7-f2feb33af7a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a612aa0a72823eddcda3a653616941d", element="18ef474c-df9c-4672-8b1a-b1fa025aefb3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a612aa0a72823eddcda3a653616941d", element="9a95159b-a85b-4dad-ba89-4deaf3195658")>]

Running a loop to extract the text from the extracted tags

In [32]:
for i in locations_tags:
    Location=i.text
    Job_location.append(Location)
Job_location[0:5]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Devarabeesana Halli)\n(WFH during Covid)',
 'Chennai, Bangalore/Bengaluru, Mumbai (All Areas)']

Extracting all the tags Having the Company Name

In [33]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="2a612aa0a72823eddcda3a653616941d", element="d22d28af-6dbf-4618-adc8-aae5fc3242bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a612aa0a72823eddcda3a653616941d", element="3dfc9a1b-7aec-49d4-863f-88a697eacb37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a612aa0a72823eddcda3a653616941d", element="f72f0456-d1ca-496f-a065-e283b464679e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a612aa0a72823eddcda3a653616941d", element="09c0ebf1-389a-4695-a1b4-866589e0d80e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a612aa0a72823eddcda3a653616941d", element="6d32a0fc-c653-4a01-a2f5-a9fcd40a61e2")>]

Running a loop to extract the text from the extracted tags

In [34]:
for i in companies_tags:
    Company=i.text
    Company_name.append(Company)
Company_name[0:5]

['Allegis Services India Pvt. Ltd.',
 'Applied Materials',
 'Virtusa Consulting Services Pvt Ltd',
 'Flipkart Internet Private Limited',
 'SITUSAMC INDIA PRIVATE LIMITED']

Extracting all the tags Having the Experience Required

In [38]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="2a612aa0a72823eddcda3a653616941d", element="f9c8bc10-9131-4c91-b597-61d7c2f11971")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a612aa0a72823eddcda3a653616941d", element="5badabbd-f479-4e02-a1bc-c571f56a3efc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a612aa0a72823eddcda3a653616941d", element="478370aa-2803-4520-824f-8766134515fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a612aa0a72823eddcda3a653616941d", element="677831f1-dd33-4369-8be3-473cb871717a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2a612aa0a72823eddcda3a653616941d", element="5d154e73-f50f-4675-81f8-b8fde1b649d6")>]

Running a loop to extract the text from the extracted tags

In [39]:
for i in experience_tags:
    Experience=i.text
    Experience_required.append(Experience)
Experience_required[0:5]

['0-3 Yrs', '0-3 Yrs', '2-4 Yrs', '1-6 Yrs', '2-7 Yrs']

Checking the length of the Lists

In [42]:
len(Job_title),len(Job_location),len(Company_name),len(Experience_required)

(20, 20, 20, 20)

Now creating Data Frame using the data extracted from Web Page

In [45]:
Jobs=pd.DataFrame({})
Jobs['Title']=Job_title[0:10]
Jobs['Location']=Job_location[0:10]
Jobs['Company']=Company_name[0:10]
Jobs['Experience']=Experience_required[0:10]
Jobs

,Title,Location,Company,Experience
0,Openings For Data Analyst,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,0-3 Yrs
1,Data Analyst,Bangalore/Bengaluru,Applied Materials,0-3 Yrs
2,Business Cum Data Analyst,Bangalore/Bengaluru,Virtusa Consulting Services Pvt Ltd,2-4 Yrs
3,Urgent Openings For Data Analysts.,Bangalore/Bengaluru(Devarabeesana Halli)\n(WFH...,Flipkart Internet Private Limited,1-6 Yrs
4,Situs AMC Is Hiring For Senior Data Analyst,"Chennai, Bangalore/Bengaluru, Mumbai (All Areas)",SITUSAMC INDIA PRIVATE LIMITED,2-7 Yrs
5,Senior Data Analyst,Bangalore/Bengaluru,Kwalee ltd.,5-10 Yrs
6,Data Analyst - Python/SQL,Bangalore/Bengaluru,Affine,3-5 Yrs
7,Data Analyst,Bangalore/Bengaluru,Kwalee ltd.,2-7 Yrs
8,ID&A - Data Analyst - Informatica MDM,Bangalore/Bengaluru,Shell India Markets Private Limited,5-9 Yrs
9,Procurement Data Analyst,Bangalore/Bengaluru(Koramangala),Sunstream Global Technologies LLP,0-2 Yrs

# 2.Python program to scrape data for “Data Scientist” Job position in “Bangalore” location

In [48]:
driver = webdriver.Chrome(r"C:\Users\KUNAL\Downloads\chromedriver_win32\chromedriver.exe")

Webpage used for Web Scraping

In [49]:
driver.get('https://www.naukri.com/')

Finding Element for Job Search Bar

In [50]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Banglore")

In [51]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

Specifying the URL of the Webpage to be Scraped

In [53]:
url = "https://www.naukri.com/data-scientist-jobs-in-banglore?k=data%20scientist&l=banglore"

Opening Webpage through Web Driver

In [54]:
driver.get(url)

Creating the 4 empty list in which data will be stored while scraping. The 4 empty list created for 4 features which is to be extracted.

1.Job_title 2.Job_location 3.Company_name 4.Job_Description

In [55]:
Job_title=[]
Job_location=[]
Company_name=[]
Job_Description=[]

Extracting all the tags Having the Job Title

In [56]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="656cbc960d2d08757af73a0695a39f45", element="778a3c8c-94e4-43f3-bad3-341e4b43988f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="656cbc960d2d08757af73a0695a39f45", element="4b9e82fe-732b-4dad-b6c9-89a66574bfd3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="656cbc960d2d08757af73a0695a39f45", element="b6242b3d-7e8f-4e18-ad44-4ed378549d18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="656cbc960d2d08757af73a0695a39f45", element="45660dad-bd09-4a7e-b76a-68985c14266c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="656cbc960d2d08757af73a0695a39f45", element="ab49b338-7bd6-4b50-9989-6534ad74f000")>]

Now running a loop to extract the text from the extracted tags

In [57]:
for i in titles_tags:
    Title=i.text
    Job_title.append(Title)
Job_title[0:5]

['Senior/Lead Data Scientist',
 'Senior Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Digital Enterprise Architect (Data Scientist)',
 'Data Scientist']

Extracting all the tags Having the Job Location

In [58]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
locations_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="656cbc960d2d08757af73a0695a39f45", element="be176b60-fbb1-4cc1-b396-20ca9d6ac82e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="656cbc960d2d08757af73a0695a39f45", element="7117f006-d796-4b77-8972-06b0769f6a14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="656cbc960d2d08757af73a0695a39f45", element="37d3ec22-52a7-44d3-b5f5-b1397893a175")>,
 <selenium.webdriver.remote.webelement.WebElement (session="656cbc960d2d08757af73a0695a39f45", element="9fabdc49-57a3-43f4-89d8-9d2c4c37618e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="656cbc960d2d08757af73a0695a39f45", element="e34a49a1-8981-44be-a94a-96b30611e681")>]

Running a loop to extract the text from the extracted tags

In [59]:
for i in locations_tags:
    Location=i.text
    Job_location.append(Location)
Job_location[0:5]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

Extracting all the tags Having the Company Name

In [60]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="656cbc960d2d08757af73a0695a39f45", element="ce3879f6-cb82-4d4f-b9d4-642e0c7cc314")>,
 <selenium.webdriver.remote.webelement.WebElement (session="656cbc960d2d08757af73a0695a39f45", element="aab9d56b-d25a-4a1e-b0f7-6aca34a29160")>,
 <selenium.webdriver.remote.webelement.WebElement (session="656cbc960d2d08757af73a0695a39f45", element="a7e67e70-912d-4c90-8897-fb69f3c5a200")>,
 <selenium.webdriver.remote.webelement.WebElement (session="656cbc960d2d08757af73a0695a39f45", element="3978dfc9-9947-4977-8a96-f75b79e7aa75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="656cbc960d2d08757af73a0695a39f45", element="39832bd3-9a18-4eb1-bde5-297ca04ea711")>]

Running a loop to extract the text from the extracted tags

In [61]:
for i in companies_tags:
    Company=i.text
    Company_name.append(Company)
Company_name[0:5]

['Scienaptic Systems',
 'Visa',
 'IBM India Pvt. Limited',
 'Mphasis Limited',
 'Intel Technology India Pvt Ltd']

Extracting all the tags Having the Job Description

In [63]:
description_tags=driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")
description_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="656cbc960d2d08757af73a0695a39f45", element="b6177d27-20fb-4c62-bb56-fae044a6a128")>,
 <selenium.webdriver.remote.webelement.WebElement (session="656cbc960d2d08757af73a0695a39f45", element="597c5991-a7f2-4179-bf88-9d5a070dbed3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="656cbc960d2d08757af73a0695a39f45", element="11d47318-5542-4e81-9528-c91fd41cbf0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="656cbc960d2d08757af73a0695a39f45", element="e46f6f25-e082-41c0-9306-2b8b4e3ccd7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="656cbc960d2d08757af73a0695a39f45", element="1209fc9c-585c-410b-9870-6c379a20e799")>]

In [ ]:
Running a loop to extract the text from the extracted tags

In [65]:
for i in description_tags:
    Description=i.text
    Job_Description.append(Description)
Job_Description[0:5]

['5 10 years of Applied Machine learning experience in the fields of Machine Learning, Re...',
 'Post-graduate degree (Masters or PhD)Minimum of 6 years of analytics expertise in apply...',
 'As a Data Scientist at IBM, you will help transform our clients data into tangible busi...',
 'Experience working with enterprise architecture for the complex solutions solving busin...',
 'Must possess strong understanding of internal business segment (stakeholders) and posse...']

Checking the length of the Lists

In [66]:
len(Job_title),len(Job_location),len(Company_name),len(Job_Description)

(20, 20, 20, 20)

Now creating Data Frame using the data extracted from Web Page

In [67]:
Jobs=pd.DataFrame({})
Jobs['Title']=Job_title[0:10]
Jobs['Location']=Job_location[0:10]
Jobs['Company']=Company_name[0:10]
Jobs['Description']=Job_Description[0:10]
Jobs

,Title,Location,Company,Description
0,Senior/Lead Data Scientist,Bangalore/Bengaluru,Scienaptic Systems,5 10 years of Applied Machine learning experie...
1,Senior Data Scientist,Bangalore/Bengaluru,Visa,Post-graduate degree (Masters or PhD)Minimum o...
2,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM India Pvt. Limited,"As a Data Scientist at IBM, you will help tran..."
3,Digital Enterprise Architect (Data Scientist),Bangalore/Bengaluru,Mphasis Limited,Experience working with enterprise architectur...
4,Data Scientist,Bangalore/Bengaluru,Intel Technology India Pvt Ltd,Must possess strong understanding of internal ...
5,Data Scientist,Bangalore/Bengaluru,Intel Technology India Pvt Ltd,Minimum Requirements: Bachelors Degree or high...
6,Senior Data Scientist,Bangalore/Bengaluru,Kwalee India Pvt Ltd.,Kwalee is one of the world's leading multiplat...
7,Lead - Data Scientist,"Noida, Bangalore/Bengaluru",InnovAccer,"Masters in Computer Science, Computer Engineer..."
8,Lead Data Scientist,"Noida, Gurgaon/Gurugram, Bangalore/Bengaluru, ...",Emmess technologies private Limited,"BTECH, MBA, Post Graduate in Statistics, Econo..."
9,Senior Data Scientist,Bangalore/Bengaluru,Visa Inc.,"Bachelors degree in Statistics, Mathematics, C..."

# 3. Python Program to scrape data using the filters available on the webpage

In [91]:
driver = webdriver.Chrome(r"C:\Users\KUNAL\Downloads\chromedriver_win32\chromedriver.exe")

Webpage used for Web Scraping

In [92]:
driver.get('https://www.naukri.com/')

Finding Element for Job Search Bar

In [93]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")

In [94]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

Applying Filters for Location-- Delhi/NCR ans Salary range-- 3-6Lakhs on Web Page Results

In [99]:
select_location = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[1]/div[2]/div[3]/label/i")
select_location.click()

In [100]:
select_salary = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i")
select_salary.click()

Specifying the URL of the Webpage to be Scraped

In [101]:
url = "https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityTypeGid=9508&ctcFilter=3to6"

Opening Webpage through Web Driver

In [102]:
driver.get(url)

Creating the 4 empty list in which data will be stored while scraping. The 4 empty list created for 4 features which is to be extracted.

1.Job_title 2.Job_location 3.Company_name 4.Experience_required

In [103]:
Job_title=[]
Job_location=[]
Company_name=[]
Experience_required=[]

Extracting all the tags Having the Job Title

In [104]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="f8e1614da8c5fc8965e96199beddcd2f", element="369ac607-456d-4402-b4a9-37a671fa7528")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f8e1614da8c5fc8965e96199beddcd2f", element="29bfb5bd-0e6c-4758-b374-a4a6aa4c9ce6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f8e1614da8c5fc8965e96199beddcd2f", element="a2ee5c20-6a74-4ec9-9ddc-08fececcea63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f8e1614da8c5fc8965e96199beddcd2f", element="25afb35a-392c-4e0f-b423-d33819630243")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f8e1614da8c5fc8965e96199beddcd2f", element="546ddad9-f21a-47c7-bcaa-7342eae33733")>]

Now running a loop to extract the text from the extracted tags

In [105]:
for i in titles_tags:
    Title=i.text
    Job_title.append(Title)
Job_title[0:5]

['Data Scientist I/II/III',
 'Associate Data Scientist',
 'Job Opportunity || Data Scientist || HCL Technologies',
 'Data Scientist',
 'Academic Counsellor - Data Scientist']

Extracting all the tags Having the Job Location

In [106]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
locations_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="f8e1614da8c5fc8965e96199beddcd2f", element="6bf3a239-f489-4010-be61-9fcc62c3d101")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f8e1614da8c5fc8965e96199beddcd2f", element="5d2f7469-a888-421e-9440-713d1c2c4ad7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f8e1614da8c5fc8965e96199beddcd2f", element="bfc1bfc3-f8cb-4e3b-8f87-3f2d66fbce69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f8e1614da8c5fc8965e96199beddcd2f", element="44ea9aa3-9ebd-44b6-9eb0-1032e8be7a7f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f8e1614da8c5fc8965e96199beddcd2f", element="a7c1b3af-d90a-43bf-80cc-5994b9981504")>]

Running a loop to extract the text from the extracted tags

In [107]:
for i in locations_tags:
    Location=i.text
    Job_location.append(Location)
Job_location[0:5]

['Gurgaon/Gurugram',
 'Noida',
 'Delhi / NCR',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Bangalore/Bengaluru']

Extracting all the tags Having the Company Name

In [108]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="f8e1614da8c5fc8965e96199beddcd2f", element="2222c2ee-3e5d-4997-91a7-b0541b67da0e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f8e1614da8c5fc8965e96199beddcd2f", element="b7ab7ea4-587f-44b5-a158-5431cd49c6bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f8e1614da8c5fc8965e96199beddcd2f", element="46cfc25f-6662-4166-91e5-2b2899f8a509")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f8e1614da8c5fc8965e96199beddcd2f", element="85b236f4-d8f0-47a1-b04b-af63da6262fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f8e1614da8c5fc8965e96199beddcd2f", element="8f2ecd97-a37a-47e2-b291-b3aede806496")>]

Running a loop to extract the text from the extracted tags

In [109]:
for i in companies_tags:
    Company=i.text
    Company_name.append(Company)
Company_name[0:5]

['OLX India Pvt Ltd',
 'Optum Global Solutions (India) Private Limited',
 'HCL Technologies',
 'Milliman India Pvt Ltd',
 'GreatLearning']

Extracting all the tags Having the Experience Required

In [110]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="f8e1614da8c5fc8965e96199beddcd2f", element="4ff7e714-37d9-46fe-a97d-ad7604373896")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f8e1614da8c5fc8965e96199beddcd2f", element="b4e5d606-5019-4ade-a130-78a18e8cc2c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f8e1614da8c5fc8965e96199beddcd2f", element="a1c3f48c-36e1-4e23-ad3e-f87fbb303c36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f8e1614da8c5fc8965e96199beddcd2f", element="65088bca-c3ba-4eb7-a379-575a326092f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f8e1614da8c5fc8965e96199beddcd2f", element="99c57cdb-ae4b-4592-a7b3-2f3913063568")>]

Running a loop to extract the text from the extracted tags

In [111]:
for i in experience_tags:
    Experience=i.text
    Experience_required.append(Experience)
Experience_required[0:5]

['3-6 Yrs', '2-7 Yrs', '4-7 Yrs', '2-5 Yrs', '1-4 Yrs']

In [ ]:
Checking the length of each List

In [112]:
len(Job_title),len(Job_location),len(Company_name),len(Experience_required)

(20, 20, 20, 20)

Now creating Data Frame using the data extracted from Web Page

In [113]:
Jobs=pd.DataFrame({})
Jobs['Title']=Job_title[0:10]
Jobs['Location']=Job_location[0:10]
Jobs['Company']=Company_name[0:10]
Jobs['Experience']=Experience_required[0:10]
Jobs

,Title,Location,Company,Experience
0,Data Scientist I/II/III,Gurgaon/Gurugram,OLX India Pvt Ltd,3-6 Yrs
1,Associate Data Scientist,Noida,Optum Global Solutions (India) Private Limited,2-7 Yrs
2,Job Opportunity || Data Scientist || HCL Techn...,Delhi / NCR,HCL Technologies,4-7 Yrs
3,Data Scientist,Gurgaon/Gurugram,Milliman India Pvt Ltd,2-5 Yrs
4,Academic Counsellor - Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",GreatLearning,1-4 Yrs
5,Data Scientist,"Noida, Gurgaon/Gurugram",Optum Global Solutions (India) Private Limited,2-6 Yrs
6,Data Scientist I/II/III,Gurgaon/Gurugram,"OLX, Inc",3-6 Yrs
7,Data Scientist Internship,New Delhi,iHackers Inc,0-1 Yrs
8,Data Scientist,Gurgaon/Gurugram,NatWest Group,2-7 Yrs
9,Data Scientist - Insights For Delhi (SQL needed),Delhi / NCR(Sarita Vihar)\n(WFH during Covid),CAASTLE TECHNOLOGY AND SERVICES INDIA PVT. LTD.,2-5 Yrs

# 4. Python program to scrape data for first 10 job results for Data scientist Designation in Noida location

In [55]:
driver = webdriver.Chrome(r"C:\Users\KUNAL\Downloads\chromedriver_win32\chromedriver.exe")

Webpage used for Web Scraping

In [56]:
driver.get('https://www.glassdoor.co.in/index.htm')

Finding Element for Job Search Bar

In [59]:
search_job = driver.find_element_by_id('sc.keyword')
search_job.send_keys("Data Scientist")
search_loc = driver.find_element_by_xpath("//input[@id='sc.location']")
search_loc.send_keys("Noida")

In [60]:
search_btn = driver.find_element_by_xpath("/html/body/header/nav[1]/div/div/div/div[4]/div[2]/form/div/button")
search_btn.click()

Specifying the URL of the Webpage to be Scraped

In [61]:
url = "https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm"

Opening Webpage through Web Driver

In [62]:
driver.get(url)

Creating the 3 empty list in which data will be stored while scraping. The 3 empty list created for 3 features which is to be extracted.

1. Company_name 2.No of Days of job posted 3. Company Rating

In [63]:
Company_name=[]
No_of_Days_Ago=[]
Company_rating=[]

Extracting all the tags Having the Company Name

In [64]:
companies_tags=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']")
companies_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="2df5f97b96740405b825a714d1880e48", element="850d05a4-5885-4819-81c5-1f830597864c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2df5f97b96740405b825a714d1880e48", element="6dc1b0b9-c917-4469-9c91-e3f183b98045")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2df5f97b96740405b825a714d1880e48", element="561befac-cf1b-4123-a638-21d8b0cea11b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2df5f97b96740405b825a714d1880e48", element="6904755f-91b9-4c16-8759-b4d28aaa8db5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2df5f97b96740405b825a714d1880e48", element="d9e1ab1f-fa35-4341-b836-0ec3cb042621")>]

Running a loop to extract the text from the extracted tags

In [65]:
for i in companies_tags[0:10]:
    Company=i.text
    Company_name.append(Company)
Company_name[0:5]

['UnitedHealth Group', 'Optum - India', 'Ericsson', 'Crowe', '']

Extracting all the tags Having No of Days ago the job posted

In [66]:
days_tags=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-17n8uzw']")
days_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="2df5f97b96740405b825a714d1880e48", element="2a40eeb2-2c54-4b1c-8338-e49bf5619b4a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2df5f97b96740405b825a714d1880e48", element="26126787-0d2d-479b-ae7d-0d4f4b13ed82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2df5f97b96740405b825a714d1880e48", element="b5a7bf67-5189-4fcc-b584-48cfd36bad5c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2df5f97b96740405b825a714d1880e48", element="a919ae0c-1bc1-47c0-8c8d-9a634a0321a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2df5f97b96740405b825a714d1880e48", element="29f50f19-78a7-46c0-8c15-fa175bb00b87")>]

Running a loop to extract the text from the extracted tags

In [67]:
for i in days_tags[0:10]:
    Day=i.text
    No_of_Days_Ago.append(Day)
No_of_Days_Ago[0:5]

['1d', '17d', '8d', '8d', '30d+']

In [ ]:
Extracting all the tags Having Company Rating

In [68]:
ratings_tags=driver.find_elements_by_xpath("//span[@class=' job-search-key-srfzj0 e1cjmv6j0']")
ratings_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="2df5f97b96740405b825a714d1880e48", element="1140de4f-57cb-4a3e-9c3f-cd6097332f46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2df5f97b96740405b825a714d1880e48", element="05e97e04-9624-4252-a98f-e59ba96033c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2df5f97b96740405b825a714d1880e48", element="1b39e95e-83ae-4059-a606-c4e12158df7b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2df5f97b96740405b825a714d1880e48", element="fa0e195c-18e5-46e0-81f0-c0e3991da504")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2df5f97b96740405b825a714d1880e48", element="7372e661-d925-46b3-b52b-032fe1e7e804")>]

Running a loop to extract the text from the extracted tags

In [69]:
for i in ratings_tags[0:10]:
    Rating=i.text
    Company_rating.append(Rating)
Company_rating[0:5]

['3.7', '4.2', '3.8', '3.7', '3.7']

In [70]:
len(Company_name),len(No_of_Days_Ago),len(Company_rating)

(10, 10, 10)

In [71]:
Jobs=pd.DataFrame({})
Jobs['Company']=Company_name
Jobs['No of Days Ago job Posted']=No_of_Days_Ago
Jobs['Company Rating']=Company_rating
Jobs

,Company,No of Days Ago job Posted,Company Rating
0,UnitedHealth Group,1d,3.7
1,Optum - India,17d,4.2
2,Ericsson,8d,3.8
3,Crowe,8d,3.7
4,,30d+,3.7
5,Techlive,30d+,4.2
6,UnitedHealth Group,3d,3.3
7,UnitedHealth Group,17d,3.7
8,Biz2Credit Inc,30d+,3.3
9,Liberin Technologies Private Limited,30d+,3.6

In [78]:
import selenium
import pandas as pd
from selenium import webdriver

# 5. Python program to scrape the salary data for Data Scientist designation in Noida location

In [194]:
driver = webdriver.Chrome(r"C:\Users\KUNAL\Downloads\chromedriver_win32\chromedriver.exe")

Webpage used for Web Scraping

In [195]:
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

Finding Element for Job Search Bar

In [196]:
search_job = driver.find_element_by_id('KeywordSearch')
search_job.send_keys("Data Scientist")
search_loc = driver.find_element_by_xpath("//input[@id='LocationSearch']")
search_loc.send_keys("Noida")

In [197]:
search_btn = driver.find_element_by_xpath("/html/body/div[3]/div/div[1]/div[1]/div/div/form/button")
search_btn.click()

Specifying the URL of the Webpage to be Scraped

In [198]:
url = "https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn"

In [199]:
driver.get(url)

Creating the 5 empty list in which data will be stored while scraping.
The 5 empty list created for  features which is to be extracted.

1.Company_name  2.No_of_Salaries  3.Average_salary  4.Min_salary 5.Max_salary

In [200]:
Company_name=[]
Min_salary=[]
Max_salary=[]
Average_salary=[]
Company_rating=[]

Extracting all the tags Having the Company Name

In [201]:
companies_tags=driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")
companies_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="0b43562f6240858f18bf2c329691601a", element="5b6fc645-4fd4-42e6-b7b5-ff5eaee1c92e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b43562f6240858f18bf2c329691601a", element="3d207d02-b756-4fdd-9aa8-0a4debc4589f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b43562f6240858f18bf2c329691601a", element="a7107c44-6757-4572-9d5a-791cea6cf4a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b43562f6240858f18bf2c329691601a", element="6274c427-c799-4944-b315-e2e2103d5b98")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b43562f6240858f18bf2c329691601a", element="1b8bda15-7ce9-424f-b708-618ee4f3a31c")>]

Running a loop to extract the text from the extracted tags

In [202]:
for i in companies_tags[0:10]:
    Company=i.text
    Company_name.append(Company)
Company_name[0:5]

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Ericsson-Worldwide',
 'Delhivery']

Extracting all the tags Having Minimum and Maximum Salary Ranges

In [203]:
minmaxslry_tags=driver.find_elements_by_xpath("//div[@class='d-none d-lg-flex col-2 align-items-center']")
minmaxslry_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="0b43562f6240858f18bf2c329691601a", element="e4bbaaf0-99e6-4275-ad8d-1694ae851f0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b43562f6240858f18bf2c329691601a", element="9c37c583-690b-42fa-aadb-838eac9fff75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b43562f6240858f18bf2c329691601a", element="6c8912cd-e3d8-458f-aaeb-1ed76401aab6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b43562f6240858f18bf2c329691601a", element="f426ab16-cb82-4523-be12-0ff39639fe7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b43562f6240858f18bf2c329691601a", element="dac4652f-131d-4d5e-ab18-aeffed70cca9")>]

Running a loop to extract the text from the extracted tags

In [204]:
minmaxslry=[]
for i in minmaxslry_tags[0:10]:
    minmaxslry.append(i.text)

In [205]:
minmaxslry

['₹4L\n₹13L',
 '₹1L\n₹28L',
 '₹6L\n₹23L',
 '₹4L\n₹17L',
 '₹5L\n₹1Cr',
 '₹8L\n₹16L',
 '₹6L\n₹20L',
 '₹8L\n₹20L',
 '₹2L\n₹22L',
 '₹10L\n₹18L']

Running a loop to split Min. and Max Salary

In [206]:
for i in minmaxslry:
    Min_salary.append(i.split("\n")[0])
    Max_salary.append(i.split("\n")[1])

In [181]:
Min_salary

['₹4L', '₹1L', '₹6L', '₹4L', '₹5L', '₹8L', '₹6L', '₹8L', '₹2L', '₹10L']

In [207]:
Max_salary

['₹13L',
 '₹28L',
 '₹23L',
 '₹17L',
 '₹1Cr',
 '₹16L',
 '₹20L',
 '₹20L',
 '₹22L',
 '₹18L']

In [ ]:
Extracting all the tags Having Average Salary

In [208]:
avgslry_tags=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")
avgslry_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="0b43562f6240858f18bf2c329691601a", element="847c4aa8-0cec-4158-aee1-fd6c9ef66cc6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b43562f6240858f18bf2c329691601a", element="01b1e86d-998f-4246-a473-fd0a4c010bcb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b43562f6240858f18bf2c329691601a", element="7d59600e-b323-413e-9e0f-ed8495148dc8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b43562f6240858f18bf2c329691601a", element="cafa3376-c68e-408a-bda1-04233902925b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b43562f6240858f18bf2c329691601a", element="ed19e4cc-bd0b-47d5-afe9-fd727d3c59ca")>]

Running a loop to extract the text from the extracted tags

In [209]:
for i in avgslry_tags[0:10]:
    Average_salary.append(i.text.replace("\n",""))
Average_salary[0:5]

['₹6,31,184 /yr',
 '₹9,08,246 /yr',
 '₹12,13,338 /yr',
 '₹7,61,766 /yr',
 '₹12,49,716 /yr']

Extracting all the tags Having Company ratings

In [210]:
ratings_tags=driver.find_elements_by_xpath("//span[@class='m-0 css-kyx745']")
ratings_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="0b43562f6240858f18bf2c329691601a", element="57f109dd-100a-441f-ad97-9e4b0a4b6924")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b43562f6240858f18bf2c329691601a", element="01525810-27ae-4455-8826-538266f94951")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b43562f6240858f18bf2c329691601a", element="87615e7c-0266-4327-840c-3e08dcc089ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b43562f6240858f18bf2c329691601a", element="ea2bfe6b-a262-45ca-a850-9e2e41384018")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b43562f6240858f18bf2c329691601a", element="35f9103c-10e4-49e9-903d-204ea49f24b5")>]

Running a loop to extract the text from the extracted tags

In [211]:
for i in ratings_tags[0:10]:
    Company_rating.append(i.text)
Company_rating[0:5]

['3.9', '3.9', '4.1', '4', '3.7']

In [213]:
len(Company_name)
len(Min_salary)
len(Max_salary)
len(Average_salary)
len(Company_rating)

10

In [ ]:
Now creating Dataframe using extracted data from webpage

In [214]:
Jobs=pd.DataFrame({})
Jobs['Company']=Company_name[0:10]
Jobs['Minimum_Salary']=Min_salary[0:10]
Jobs['Maximum_Salary']=Max_salary[0:10]
Jobs['Average_Salary']=Average_salary[0:10]
Jobs['Ratings']=Company_rating[0:10]
Jobs

,Company,Minimum_Salary,Maximum_Salary,Average_Salary,Ratings
0,Tata Consultancy Services,₹4L,₹13L,"₹6,31,184 /yr",3.9
1,IBM,₹1L,₹28L,"₹9,08,246 /yr",3.9
2,Accenture,₹6L,₹23L,"₹12,13,338 /yr",4.1
3,Ericsson-Worldwide,₹4L,₹17L,"₹7,61,766 /yr",4
4,Delhivery,₹5L,₹1Cr,"₹12,49,716 /yr",3.7
5,UnitedHealth Group,₹8L,₹16L,"₹12,80,000 /yr",3.7
6,EXL Service,₹6L,₹20L,"₹12,42,519 /yr",3.6
7,Optum,₹8L,₹20L,"₹12,70,000 /yr",3.7
8,ZS Associates,₹2L,₹22L,"₹11,71,868 /yr",4
9,Optum Global Solutions,₹10L,₹18L,"₹14,55,430 /yr",3.9

# 6. Scrape data of first 100 sunglasses listings on flipkart.com

Defining Web Driver

In [215]:
driver = webdriver.Chrome(r"C:\Users\KUNAL\Downloads\chromedriver_win32\chromedriver.exe")

Webpage used for Web Scraping

In [216]:
driver.get('https://www.flipkart.com/')

Finding element for Product and brand search bar

In [220]:
search_sunglass = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_sunglass.send_keys("Sun Glass")

In [224]:
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

Specifying the URL of the Webpage to be Scraped

In [225]:
url = "https://www.flipkart.com/search?q=Sun%20Glass&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"

Opening Webpage through Web Driver

In [226]:
driver.get(url)

Creating the 4 empty list in which data will be stored while scraping. The 4 empty list created for 4 features which is to be extracted.

1.Brand 2.Description 3.Price 4.Discount

In [227]:
Brand=[]
Description=[]
Price=[]
Discount=[]

Extracting all the tags Having the Brand Name

In [228]:
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="efbd4a25-6c87-4d45-8f5a-fdd06ae2c2b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="fedc3ffc-676c-496f-a9d9-5b2468f8fa07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="396e35d4-7513-4191-a3b1-e3615db9b4df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="4db2a57f-7289-447a-9582-5e34333aeb02")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="60b7bd3c-f80b-49fd-90d0-9fd92285681c")>]

Now running a loop to extract the text from the extracted tags

In [234]:
brand1=[]
for i in brand_tags:    
    brand1.append(i.text)
brand1[0:5]

['PIRASO', 'Rich Club', 'Fastrack', 'SHAAH COLLECTIONS', 'Fastrack']

Extracting all the tags Having the Product Description

In [236]:
desc_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
desc_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="2261e433-fe1f-41b8-bd13-eef319b13bf0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="b2c35a12-af33-41c1-b5aa-218269377293")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="09b76d0d-2c4f-4129-a5e6-0da4b630c842")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="bd871577-f113-4aba-8b2c-f04624cfd21d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="3a4a310e-4554-4aca-b492-81366fdc89d7")>]

Now running a loop to extract the text from the extracted tags

In [237]:
desc1=[]
for i in desc_tags:    
    desc1.append(i.text)
desc1[0:5]

['UV Protection Aviator Sunglasses (54)',
 'UV Protection, Others Round Sunglasses (48)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (Free Size)']

Extracting all the tags Having Price of the Product

In [238]:
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="f24c83b6-162a-49d3-9507-99aa99dd909c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="6217a57b-1ced-4e47-b8bd-f49a54b688e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="1b17a7e7-0d61-4848-ba37-8c845e7e79b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="1026f58b-df08-4b93-aee4-af40c1b70f35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="b62670e6-78c3-4460-8ea1-aa16d255c179")>]

Now running a loop to extract the text from the extracted tags

In [239]:
price1=[]
for i in price_tags[0:40]:
    price1.append(i.text)
price1[0:5]

['₹200', '₹299', '₹419', '₹198', '₹395']

Extracting all the tags Having the Discount

In [241]:
disc_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
disc_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="31d6c3f2-df1a-4f89-8d16-8c03e50cdac1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="f40f5060-3d63-4f3e-a7b0-3ff2ad6ad418")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="1a77b5aa-ecfe-4f4c-9d38-93bfdbded72d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="268bd80c-ce3a-42e1-a586-f562f0ea917b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="23b7afb6-3a5d-4c9a-876d-1f2d056599fb")>]

Now running a loop to extract the text from the extracted tags

In [242]:
disc1=[]
for i in disc_tags[0:40]:
    disc1.append(i.text)
disc1[0:5]

['87% off', '62% off', '53% off', '88% off', '50% off']

On first page we have details of 40 sunglasses. Now moving to the next page for more data

In [246]:
next_btn = driver.find_element_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")
next_btn.click()

Specifying the URL of the next(2nd) Webpage to be Scraped

In [247]:
url = "https://www.flipkart.com/search?q=Sun+Glass&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2"

Opening Webpage through Web Driver

In [248]:
driver.get(url)

In [ ]:
Extracting all the tags Having the Brand Name

In [249]:
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="06b5cee3-363a-48de-8f67-0d091f29c333")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="6b2843de-aab1-4724-a135-f38d70ebe6c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="9fab99b8-b83a-4c8f-91b1-872d8ecf30a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="e8e5bd92-2177-4239-87ac-15cf1b27afa9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="4c86553c-9444-439f-addd-877b0e6b60d8")>]

Now running a loop to extract the text from the extracted tags

In [250]:
brand2=[]
for i in brand_tags:    
    brand2.append(i.text)
brand2[0:5]

['Silver Kartz', 'Elligator', 'IDEE', 'Fastrack', 'GANSTA']

Extracting all the tags Having the Product Description

In [251]:
desc_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
desc_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="97d05549-9af5-4e61-926d-8627edc73f41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="ddc17046-f8b1-4642-9b21-12409528eadf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="bca4433b-1b7f-442f-969b-952060e56c42")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="4d374224-64d5-4d78-a9ee-cd17ee0c0002")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="fbccedc8-d075-4d0f-826c-e18f5f49339b")>]

Now running a loop to extract the text from the extracted tags

In [252]:
desc2=[]
for i in desc_tags:    
    desc2.append(i.text)
desc2[0:5]

['UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...']

Extracting all the tags Having Price of the Product

In [254]:
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="ababfa8f-cd3d-44c9-80b8-fb9083709a11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="123e9270-98da-49f3-9e9b-9a5de0688715")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="212ffefc-bbb5-4a70-ba01-cadde000bc09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="59464ac9-eb7b-420a-a721-a5538b0fe0ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="8ef71525-3bf1-4b6e-aa06-7160d199cd85")>]

Now running a loop to extract the text from the extracted tags

In [255]:
price2=[]
for i in price_tags[0:40]:
    price2.append(i.text)
price2[0:5]

['₹207', '₹266', '₹799', '₹656', '₹248']

Extracting all the tags Having the Discount

In [256]:
disc_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
disc_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="0c2998dd-699e-4e2a-bde4-7f3b1bbbc147")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="c97a1c12-dd95-40a5-828f-739997001751")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="2ebfdba0-fdeb-453e-8282-b3e6c8303fc9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="9d1a2d07-1016-4270-b33d-c7311a1833e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="49f80f1b-5ad4-4a2f-85af-efd020c4f445")>]

Now running a loop to extract the text from the extracted tags

In [274]:
disc2=[]
for i in disc_tags[0:40]:
    disc2.append(i.text)
disc2[0:5]

['65% off', '60% off', '55% off', '49% off', '81% off']

Now moving to the next page for more data

In [259]:
next_btn = driver.find_element_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span")
next_btn.click()

Specifying the URL of the next(3rd) Webpage to be Scraped

In [260]:
url ="https://www.flipkart.com/search?q=Sun+Glass&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3"

Opening Webpage through Web Driver

In [261]:
driver.get(url)

Extracting all the tags Having the Brand Name

In [262]:
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="9e51a6fc-0550-44ed-be43-9d9d172c6808")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="5cb1ee40-3595-4cd7-8df9-b60f734b8554")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="3ab3386b-0867-403a-b331-806d35b11e29")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="545a5a22-75ec-48d7-b302-9389ff4b95c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="0741f63d-75aa-442a-a9e9-2babe4d4c664")>]

Now running a loop to extract the text from the extracted tags

In [267]:
brand3=[]
for i in brand_tags:    
    brand3.append(i.text)
brand3[0:5]

['povty', 'IDEE', 'Fastrack', 'Fastrack', 'Singco India']

Extracting all the tags Having the Product Description

In [265]:
desc_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
desc_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="a5d5ebbe-171a-4124-a537-91663e023395")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="e9a4d9a1-8c0c-424e-b7da-6976c1c72c6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="95b80913-62bf-4dad-9ed5-4e31d8e70db6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="29b7fae4-a16c-45c6-8dd9-5dabec3e527c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="99e64a14-e86d-409e-8ca5-ddec894cb898")>]

Now running a loop to extract the text from the extracted tags

In [268]:
desc3=[]
for i in desc_tags:    
    desc3.append(i.text)
desc3[0:5]

['UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (17)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Round Sunglasses (Free Size)']

Extracting all the tags Having Price of the Product

In [269]:
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="c63e5be0-2362-4a4e-940d-91a2d6fc1ff7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="b4ab3370-7214-4b70-abea-c268f38eefda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="1b6d301f-143b-4f0e-a51e-55cc2bb5cbc0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="940e8639-02c5-42a9-b86f-bc2e4467c4d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="ca5ae9e0-3181-42ce-b7b5-c31adb230122")>]

Now running a loop to extract the text from the extracted tags

In [272]:
price3=[]
for i in price_tags[0:40]:
    price3.append(i.text)
price3[0:5]

['₹349', '₹889', '₹404', '₹656', '₹183']

Extracting all the tags Having the Discount

In [273]:
disc_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
disc_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="dc9e66fb-9a55-4be1-b337-a921a95c4ce1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="80acb17e-2987-4f82-be82-d2f2e06403a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="19b0d091-450a-4bba-b0fa-2bc8522dbe88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="079c27f2-45ac-420b-abce-cbaa64468cfc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5946f986f83824c69b57ce3d689b784", element="e5871eb7-dbc6-4588-a187-fac5ce18f52c")>]

Now running a loop to extract the text from the extracted tags

In [275]:
disc3=[]
for i in disc_tags[0:40]:
    disc3.append(i.text)
disc3[0:5]

['65% off', '60% off', '55% off', '49% off', '81% off']

Now adding all the list to create Dataframe

In [279]:
Brand = brand1 + brand2 + brand3
Description = desc1 + desc2 + desc3
Price = price1 + price2 + price3
Discount = disc1 + disc2 + disc3

Now creating Dataframe using extracted data from webpage

In [280]:
Sunglass=pd.DataFrame({})
Sunglass['Brand']=Brand[0:100]
Sunglass['Description']=Description[0:100]
Sunglass['Price']=Price[0:100]
Sunglass['Discount']=Discount[0:100]
Sunglass

,Brand,Description,Price,Discount
0,PIRASO,UV Protection Aviator Sunglasses (54),₹200,86% off
1,Rich Club,"UV Protection, Others Round Sunglasses (48)",₹299,86% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹419,61% off
3,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹198,49% off
4,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹395,87% off
...,...,...,...,...
95,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹359,60% off
96,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹359,55% off
97,ROYAL SON,Mirrored Aviator Sunglasses (55),₹319,78% off
98,Fastrack,UV Protection Sports Sunglasses (Free Size),₹449,50% off
99,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87% off